# ============================================
# PostgreSQL
# ============================================
POSTGRES_USER=film_user
POSTGRES_PASSWORD=change_me_in_production
POSTGRES_DB=film
POSTGRES_PORT=5432

# ============================================
# Backend
# ============================================
BACKEND_PORT=3001
DATABASE_DRIVER=postgres
DATABASE_HOST=database
DATABASE_PORT=5432
DATABASE_NAME=film
DATABASE_USERNAME=film_user
DATABASE_PASSWORD=change_me_in_production
LOGGER_TYPE=json
DEBUG=*

# ============================================
# Nginx
# ============================================
NGINX_PORT=80

# ============================================
# pgAdmin
# ============================================
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change_me_in_production
PGADMIN_PORT=8080